@model List<Core.DTOs.HomeUserAndRoleDTO>
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "List";
    var session = HttpContextAccessor.HttpContext.Session;

}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <link href="~/eshopper/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/eshopper/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/eshopper/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/eshopper/css/price-range.css" rel="stylesheet">
    <link href="~/eshopper/css/animate.css" rel="stylesheet">
    <link href="~/eshopper/css/main.css" rel="stylesheet">
    <link href="~/eshopper/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="~/eshopper/js/html5shiv.js"></script>
    <script src="~/eshopper/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/eshopper/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/eshopper/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/eshopper/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/eshopper/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/eshopper/images/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>
    <header id="header">
        <!--header-->
        @await Html.PartialAsync("_UstBar")
        @await Html.PartialAsync("_MenuBar")

    </header><!--/header-->

    <div class="container">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-sm-6">
                    <h3>User İşlemleri</h3>
                </div>
                <div class="col-sm-6 text-right">
                    <a class="btn btn-outline-primary" asp-controller="User" asp-action="Create">User Ekle</a>
                </div>
            </div>
            @if (TempData["SuccessUserMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["SuccessUserMessage"]
                </div>
            }
            @if (TempData["ErrorUserMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorUserMessage"]
                </div>
            }
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">User Ad</th>
                        <th scope="col">User Soyad</th>
                        <th scope="col">User Mail</th>
                        <th scope="col">User Sifre</th>
                        <th scope="col">User Role</th>
                        <th scope="col">Sil</th>
                        <th scope="col">Güncelle</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>@item.Ad</th>
                            <th>@item.Soyad</th>
                            <th>@item.Mail</th>
                            <th>@item.Sifre</th>
                            <th>@item.RolAd</th>

                            @* admin ise işlem yapamasın sadaece görsün*@
                            @if (item.RolAd == "Admin")
                            {
                                <td><button class="btn btn-outline-secondary" disabled>Sil</button></td>
                                <td><button class="btn btn-outline-secondary" disabled>Güncelle</button></td>
                            }
                            else
                            {
                                <td><a class="btn btn-outline-primary" asp-controller="User" asp-action="Delete" asp-route-id="@item.Id" onclick="sildenOnceSor(event)">Sil</a></td>
                                <td><a class="btn btn-outline-primary" asp-controller="User" asp-action="Update" asp-route-id="@item.Id">Güncelle</a></td>
                            }
                        </tr>
                    }

                </tbody>
            </table>

        </main>
    </div>
    @await Html.PartialAsync("_AltBar")
    <script src="~/js/SilOnay.js"></script>
    <script src="~/eshopper/js/jquery.js"></script>
    <script src="~/eshopper/js/bootstrap.min.js"></script>
    <script src="~/eshopper/js/jquery.scrollUp.min.js"></script>
    <script src="~/eshopper/js/price-range.js"></script>
    <script src="~/eshopper/js/jquery.prettyPhoto.js"></script>
    <script src="~/eshopper/js/main.js"></script>
</body>
</html>

