@model List<Core.DTOs.PuanlamaListeDTO>
@inject IHttpContextAccessor HttpContextAccessor
@{
    var session = HttpContextAccessor.HttpContext.Session;
    ViewData["Title"] = "List";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <link href="~/eshopper/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/eshopper/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/eshopper/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/eshopper/css/price-range.css" rel="stylesheet">
    <link href="~/eshopper/css/animate.css" rel="stylesheet">
    <link href="~/eshopper/css/main.css" rel="stylesheet">
    <link href="~/eshopper/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="~/eshopper/js/html5shiv.js"></script>
    <script src="~/eshopper/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/eshopper/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/eshopper/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/eshopper/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/eshopper/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/eshopper/images/ico/apple-touch-icon-57-precomposed.png">
    
</head>
<body>
    <header id="header">
        <!--header-->
        @await Html.PartialAsync("_UstBar")
        @await Html.PartialAsync("_MenuBar")

    </header><!--/header-->

    <div class="container">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Kurslara Verilen Puanlar</h3>
                </div>
                
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Kursun Resmi</th>
                        <th scope="col">Kurs Baslik</th>
                        <th scope="col">Kullanici Ad</th>
                        <th scope="col">Kullanici Soyad</th>
                        <th scope="col">Kullanici Mail</th>
                        <th scope="col">Kullanicinin Verdiği Puan</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="/VideosAndImages/Images/@item.ResimUrl" class="img-fluid rounded-start" alt="Ürün Resmi" style="width: 50px; height: 50px; object-fit: cover;">
                            </td>
                            <td>@item.Baslik</td>
                            <td>@item.UserAd</td>
                            <td>@item.UserSoyad</td>
                            <td>@item.UserMail</td>
                            <td>@item.Puan</td>
                        </tr>
                    }
                </tbody>
            </table>

        </main>
    </div>
    @await Html.PartialAsync("_AltBar")
    <script src="~/eshopper/js/jquery.js"></script>
    <script src="~/eshopper/js/bootstrap.min.js"></script>
    <script src="~/eshopper/js/jquery.scrollUp.min.js"></script>
    <script src="~/eshopper/js/price-range.js"></script>
    <script src="~/eshopper/js/jquery.prettyPhoto.js"></script>
    <script src="~/eshopper/js/main.js"></script>
</body>
</html>
